<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.coordinates.codereader">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> 

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.TestActivity">

        </activity>
        <activity
            android:name=".activity.ReadActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".service.LoadFileService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.CommitService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.DeleteService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.OpenFileService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.SaveService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.SearchService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>